header{
    margin-left: 30px;
    margin-top: 36px;
    margin-bottom: 20px;
}

section{
    margin-left: 30px;
}


.logo {
height:30.57;
width:100.18px ;
margin-bottom: 26px;
}

li {
    
    list-style-type: none;
    margin-bottom: 8px;
}

a { 
    text-decoration: none;
    font-size: 22px;
}

ul {
    padding-left: 0;
    
}

.linkred  {
    color:#EE4036;
} 

.linkblue {
    color: #3D58A6;
}

.baner {
    width: 1170px;
    height:460px;
}

.soc1 {
    border-right: 1px solid #363E97;
    width: 24.81px;
    height: 30px;
    padding-right:33px;
}

.soc2 {
    width: 24.81px;
    height: 30px;
    padding-left: 33px;
}


.card {
    margin: auto;
    margin-top: 140px;
    margin-bottom:274px;
    text-align: center;
    
    
}

.contit {
     color: #808080;
     font-size: 16px;
}

.card p {
    font-size: 16px;
    color: black;
    margin-bottom: 8px;
}

#cont {
    color: #3D58A6;
    font-size: 20px;
}

footer {
    margin-top:32px ;
    margin-left:30px;
    margin-bottom: 30px;
}